@model IEnumerable<Homecare.Models.DataModels.Patient>

@{
    ViewBag.Title = "PatientList";
}

<h2>PatientList</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id_patient)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.patient_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cpr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.relative_phonenumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fk_address_patient)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fk_phone_patient)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.id_patient)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.patient_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cpr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.relative_phonenumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fk_address_patient)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fk_phone_patient)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
